.App {
  text-align: center;
  background-color: #5e687a;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #5e687a;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sidebarContainer {
  width: 260px;
  top:59px;
  position: fixed;
  background-color: #282c34;
  height: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  /* border-right: 1px solid black;  */
}

.expandable {
  background-color: #282c34;
  width: 100%;
  color: #fff;
  border: none;
}

.draggable img{
  padding: 10px;
}

.canvasPan{
  /* top:59px;
  left:260px;
  position: absolute; */
  height: 100%;
  width: 100%;
  background-color: #5e687a;
  z-index: -1;
}

.canvas{
  top:59px;
  left:260px;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #5e687a;
}

.tools{
  position: absolute;
  height:50px;
  width: 200px;
  background-color: #fff;
}

.tools button{
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.modalniSadrzaj{
  justify-content: center;
  justify-items: center;
}

.modalStates, .modalEffects, .modalChildren, .modalHtml {
  width: 100%;
  height: 100%;
  border: none;
  overflow: none;
}

.modalBasic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalBasic input{
  width: 80%;
}

.modalButton{
  border: none;
  background-color: #282c34;
  text-align: center;
  color: #61dafb;
  height: 30px;
  border-radius: 10%;
  outline: none;
}

.closeModalButton{
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: 0px;
  border: none;
  background: none;
  /* width: 20px; */
  /* height: 20px; */
  background-color: black;
  /* color: #61dafb; */
}

.modalIconButton{
  border-radius: 50%;
  border: none;
  padding-bottom: 4px;
  padding-left: 7px;
  margin-left: 5px;
  background-color: #5e687a;
}

.usersModels{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #5e687a;
  min-height: 100vh;
}

.modelCard{
  margin-top: 20px;
  height: 250px;
  width: 300px;
  background-color: #282c34;
  border: 2px solid #61dafb;
  color: #61dafb
}

.contextMenu{
  position: absolute;
  padding: 3px;
  box-sizing: border-box;
  max-width: 100px;
  top: 40px;
  left: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contextMenu button{
  border: none;
  background-color: white;
}

.loginWrapper{
  width: 50%;
  display: flex;
  flex-direction: column;
  min-height: 500px;
  justify-content: space-evenly;
  border: none;
  border-radius: 20px;
  background-color: #282c34;
  padding: 20px;
}

.loginInput{
  border: none;
  /* background-color: #bdf1ff; */
  background: none;
  border-bottom: 2px solid #61dafb;
  color: white;
  outline: none;
}

.required{
  min-width: 90%;
}
.required:after{
  width: 10%;
  content: " *";
  color: #5bbcd7;
}

.loginButton{
  border:none;
  border-radius: 25px;
  background-color: #173f49;
  color: #5bbcd7;
}

.deleteProjectButton{
  border:none;
  color: white;
  position: absolute; 
  bottom: 5px;
  right: 5px; 
  border: none;
  background: none;
}

.sidebarButton{
  border: none;
  border-radius: 25px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  min-height: 50px;
  background-color: #61dafb;
  color: black;
  font-size: larger;
}

.reactColor{
  color: #61dafb;
}

.scroll::-webkit-scrollbar {
  width: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
